.Discount-List {
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 576px;
  &.bg {
    &-0 {
      background: url("https://cdn.divineshop.vn/image/catalog/Anh/24.12.21/netflix-49596.png?hash=1640349471");
    }
    &-1 {
      background: url("https://cdn.divineshop.vn/image/catalog/Banner/Gmail-60882.png?hash=1691142559");
    }
    &-2 {
      background: url("https://cdn.divineshop.vn/image/catalog/Anh-SP/Kh%C3%A1c/chatGPT-70878.jpg?hash=1681283148");
    }
    &-3 {
      background: url("https://cdn.divineshop.vn/image/catalog/Anh/Banner%2014%20thang%2011/Banner%20main-1280x632-27477.png?hash=1689069871");
    }
    &-4 {
      background: url("https://cdn.divineshop.vn/image/catalog/Anh/24.12.21/t%E1%BB%91i%20%C6%B0u%20c%C3%B4ng%20vi%E1%BB%87c-45178.png?hash=1640349471");
    }
  }
  .header {
    height: 64px;
    &-item {
      & > * {
        color: grey;
      }
      &.active {
        background-color: transparent;
        & > * {
          color: #f1f1f1;
        }
      }
    }
  }

  .Related-Products {
    background-color: transparent;
  }
}

@media only screen and (max-width: 768px) {
  .Discount-List {
    .header {
      display: none;
    }
    .countdown {
      display: none;
    }
  }
}
